<div class="home-container">
<div class="home-scrollable">
    <section class="carousel-container page-wrapper">
    <div class="side-text">
      <div class="title-with-line">
        <div class="vertical-line"></div>

        <!-- Title and description -->
        <div class="text-content">
          <h1>
            <span class="light">WOOF</span><br />
            <span class="bold">TOGETHER</span>
          </h1>
          <p>
            Find trusted dog sitters and walking partners tailored to your pet’s needs.
            With smart search tools, seamless booking, and AI-powered advice, we make
            caring for your furry friend easy and stress-free!
          </p>
        </div>
      </div>
    </div>

    <div class="carousel-wrapper">
      <button class="arrow-btn left" (click)="prevCard()">&#10094;</button>

      <div class="carousel">
        <div
          class="card"
          *ngFor="let card of cards; let i = index"
          [ngClass]="getCardClass(i)"
        >
          <img [src]="card.image" [alt]="card.title" />
          <h3>{{ card.title }}</h3>
          <p>{{ card.description }}</p>
          <button (click)="scrollToArticle(card.articleId)">{{ card.button }}</button>
        </div>
      </div>

      <button class="arrow-btn right" (click)="nextCard()">&#10095;</button>
    </div>
  </section>

  <div class="corner-dots"></div>

  <!-- FAQ -->
<section class="faq-section page-wrapper">
  <h2 class="faq-title"> Common Questions ❓</h2>
<div *ngFor="let faq of faqList; let i = index" class="faq-item" (click)="toggleFAQ(i)">
  <div class="faq-question">
    <span class="faq-text">{{ faq.question }}</span>
    <span class="faq-toggle">{{ faq.isOpen ? '−' : '+' }}</span>
  </div>

  <div class="faq-answer" *ngIf="faq.isOpen">
    {{ faq.answer }}
  </div>
</div>
</section>

  <!-- ARTICLES -->
  <section
>  <ul class="article-list">
    <section
    *ngFor="let article of articles"
    [id]="article.id"
    class="article-section page-wrapper">
    <div class="article-box">
      <img *ngIf="article.imageUrl" [src]="article.imageUrl" alt="Article Image" class="article-image" />
      <h2 class="article-title">{{ article.title.text }}</h2>
      <ul class="article-list">
        <li *ngFor="let text of article.content.textList">{{ text }}</li>
      </ul>
    </div>
  </section>
   </ul>
</section>
</div>
</div>
